*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-image: url(../imagenes/Fondo_imagen2.jpg);
    background-repeat: no-repeat;
    background-color: #2729a8;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    
    
}

.mi_biografia{
    background-image: url(../imagenes/Foto_Bio.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #cccccc;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

header h1 .imagen1 {
    width: 350px;
}

header .imagen2 {
    width: 150px;
}

header {
    border: 2px solid rgba(0, 0, 0, 0.377);
    background-color: rgba(187, 187, 132, 0.384);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
      
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
          
}

nav ul li{
    margin: 10px;
    padding: 20px;    
      
}

nav ul li a{
    text-decoration: none;
    color: rgb(16, 43, 56);
    font-family: 'Delicious Handrawn', cursive;
    font-size: 35px;
    font-weight: bold; 
    
}

nav ul li :hover{
    border: 3px solid rgb(54, 53, 53);
    border-radius: 15px;
    padding: 10px;  
}

main{
    width: 98%;
    margin: 20px auto;
}

main .sinopsis {
    margin: 20px auto;
    border-radius: 10px;
    background-color: rgba(245, 245, 220, 0.507);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

main .sinopsis .imagen-sinopsis img{
    width: 350px;
}

main .texto{
    text-align: justify;
    font-size: 25px;
    line-height: 1.5;
    font-weight: bold;
    
}

main .texto h2{
   margin: 10px ;
   margin-left: 0px;
   font-size: 40px;
   font-weight: bold;
   
}

main .texto p{
    padding: 0px;
          
}

.titulo_personajes{
    margin: 20px auto;
    border-radius: 10px;
    background-color: rgba(245, 245, 220, 0.507);
    padding: 20px;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
       
}
.cont_personajes {
    margin: 20px auto;
    border-radius: 10px;
    background-color: rgba(245, 245, 220, 0.507);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
       
}


.grid-item {
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    width: 200px;
    margin: 10px;
    border: 3px solid black;
    background-image:url(../imagenes/Fondo_Imagen2.jpg);
    font-size: 20px;
    color: white; 
}    

.grid-item img{
    width: 100%;
    border-radius: 50%;
}

.grid-item h3{
   padding-bottom: 10px;
   padding-top: 10px;
}

.ver-serie{
    margin: 20px auto;
    border-radius: 10px;
    background-color: rgba(245, 245, 220, 0.507);
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    gap: 20px;
    justify-content: left;
    align-items: center;
}

.ver_serie_img img{
    width: 200px;
    border-radius: 15px;
}

.ver_serie_texto h2{
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer{
    border: 2px solid rgba(0, 0, 0, 0.377);
    background-color: rgba(245, 245, 220, 0.062);
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

footer div ul li{
    list-style-type: none;
    padding: 5px;
    margin: 10px 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer div ul li a{
    text-decoration: none;
    font-size: 18px;
    color: black;
}

footer div h3,p{
    padding: 5px;
    
}

footer div ul li i{
    font-size: 30px;
}

footer div span{
    font-size: 26px;
}

.container {
    float: left;
    width: 80%;
    padding: 20px;
    margin-top: 10px;
        
}

.parrafo{
    text-align: justify;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.5;
       
}
.mi_biografia p a{
    font-size: 20px;
    color: black;
    
}
.volver{
    margin-top: 20px;
}
/*Media Query para celular*/

@media (max-width: 480px){
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
    nav ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;     
    }

    nav ul li a{
        font-size: 25px;
        font-weight: bold;    
        
    }
    nav ul li{
        padding: 10px;
        margin: 5px; 
                
    }
    nav ul li :hover{
        border: 2px solid rgb(87, 86, 86);
        border-radius: 15px;  
    }

    main .sinopsis .imagen-sinopsis img{
        display: none;
        
    }
    main .sinopsis {
        margin: 20px auto;
        border-radius: 10px;
        background-image: url(../imagenes/Imagen_header_opaco.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 30px;
        font-size: 25px;
    }

    .ver-serie{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .ver_serie_texto p{
        text-align: justify;
        line-height: 1.5;
    }
    .mi_biografia{
        background-size: 100% 100%;
    }
    .container{
        width: auto;
        padding: 0px;
    }
    .mi_biografia div p{
        text-align: justify;
        font-size: 15px;                  
    }
    .mi_biografia p a{
        font-size: 12px;
        color: black;        
    }
}

/*Media Query para tablet*/

@media (max-width: 880px){
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
    nav ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;     
    }

    nav ul li a{
        font-size: 25px;
        font-weight: bold;    
        
    }
    nav ul li{
        padding: 10px;
        margin: 5px; 
                
    }
    nav ul li :hover{
        border: 2px solid rgb(87, 86, 86);
        border-radius: 15px;  
    }

    main .sinopsis .imagen-sinopsis img{
        display: none;
        
    }
    main .sinopsis {
        margin: 20px auto;
        border-radius: 10px;
        background-image: url(../imagenes/Imagen_header_opaco.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 30px;
        font-size: 25px;
    }

    .ver-serie{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .ver_serie_texto p{
        text-align: justify;
        line-height: 1.5;
    }
    .mi_biografia{
        background-size: 100% 100%;
    }
    .container{
        width: auto;
        padding: 0px;
    }
    .mi_biografia div p{
        text-align: justify;
        font-size: 15px;                  
    }
    .mi_biografia p a{
        font-size: 12px;
        color: black;        
    }
}